* {
    margin: 0;
    padding: 0;
    
}

html,
    body {
      min-height: 100%;
      border-style: solid;
    border-color: rgb(85, 85, 85);
    }

body {
    background-color: rgb(241, 137, 77);
}

#header {
    font-size: 3vh;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
}

#btn-spacing {
    display: flex;
    justify-content: space-around;
}